body {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 80px;
  background-color: antiquewhite;
  width: auto;
}
#product-name {
  text-align: center;
  font-size: xx-large;
  padding: 0%;
  margin-top: 1%;
  animation: rainbow 1s linear infinite;
}
@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  56% {
    color: blue;
  }
  70% {
    color: indigo;
  }
  84% {
    color: violet;
  }
  100% {
    color: red;
  }
}

.content {
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
#addtocart {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: double;
  font-weight: bold;
}
button {
  background-color: bisque;
}
#button-1 {
  font-weight: bold;
}
#button-2 {
  font-weight: bold;
}
#item-description-header {
  text-align: left;
  font-size: medium;
  font-family: sans-serif, Arial;
}
#item-description {
  font-size: medium;
  font-family: sans-serif, Arial;
  text-align: justify;
  text-decoration: double;
}
#product-image {
  width: 400px;
  height: 400px;
  margin-left: 0px;
  align-items: left;
}
#current-price {
  padding: 0%;
  text-align: left;
  font-family: sans-serif, Arial;
  font-size: small;
  font-weight: bold;
  display: block;
}
#price-text {
  padding: 0%;
  text-align: left;
  font-family: sans-serif, Arial;
  font-size: small;
  font-weight: bold;
}
#dropdown {
  padding: 0%;
  text-align: left;
  font-family: sans-serif, Arial;
  font-size: 85%;
  position: relative;
  display: inline-block;
  background-color: antiquewhite;
}
#available-sizes {
  text-align: left;
  font-size: large;
  font-family: sans-serif, Arial;
  border-style: hidden;
}
#table-headers {
  text-align: left;
  font-size: medium;
  font-family: sans-serif, Arial;
  background-color: antiquewhite;
  column-gap: 100px;
  row-gap: 100px;
}
table {
  width: 100%;
  border-style: hidden;
}
table td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 3px;
}
#copyright {
  text-align: center;
}
